<!doctype html>

<html ng-app="urlShorter">
<head>
    <meta charset="UTF-8">

    <title>Сервис коротких ссылок</title>

    <link rel="shortcut icon" href="/url-shorter/public/favicon.ico" type="image/x-icon">

    <link rel="stylesheet" href="/url-shorter/public/libs/bootstrap-3.3.5/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/url-shorter/public/libs/font-awesome-4.3.0/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="/url-shorter/public/css/style.css"/>
</head>
<body ng-controller="UrlShorterController as vm">
    <div class="col-md-6 col-md-offset-3 top container">
        <h1 class="text-center">Сервис коротких ссылок</h1>

        <div class="form-group">&nbsp;</div>

        <div class="form-group" ng-form name="urlForm">
            <label for="fullUrl" class="control-label">Полный url</label>

            <div class="form-group" ng-class="{'has-error' : urlForm.fullUrl.$invalid || vm.hasError}">
                <div class="row">
                    <div class="col-md-10">
                        <input id="fullUrl"
                               name="fullUrl"
                               type="url"
                               ng-model="vm.url"
                               class="form-control">
                        <span ng-show="urlForm.fullUrl.$invalid && !vm.hasError" class="help-block">Некорректный url</span>
                        <span ng-show="vm.hasError" class="help-block">{{ vm.message }}</span>
                    </div>
                    <div class="col-md-2">
                        <button type="button"
                                ng-click="vm.convert()"
                                class="btn btn-default">Преобразовать
                        </button>
                    </div>

                    <div class="col-md-10">
                        <div class="pull-right">
                            <label>Время жизни</label>

                            <div class="btn-group">
                                <label class="btn btn-link" ng-model="vm.timeToLive" uib-btn-radio="'HOUR'">час</label>
                                <label class="btn btn-link" ng-model="vm.timeToLive" uib-btn-radio="'DAY'">день</label>
                                <label class="btn btn-link" ng-model="vm.timeToLive" uib-btn-radio="'WEEK'">неделя</label>
                                <label class="btn btn-link" ng-model="vm.timeToLive" uib-btn-radio="'MONTH'">месяц</label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div ng-show="vm.processed">
                <hr/>

                <div class="row">
                    <div class="col-md-12">
                        <label class="col-md-3">Короткая ссылка:</label>

                        <div class="col-md-9">
                            <a href="{{ vm.shortUrl }}" target="_blank">{{ vm.shortUrl }}
                                <i class="fa fa-external-link"></i>
                            </a>
                            &nbsp;
                            <button class="btn btn-xs btn-default" clipboard text="vm.shortUrl">
                                <i class="fa fa-files-o"></i>
                                скопировать
                            </button>
                        </div>
                    </div>

                    <div class="col-md-12">
                        <label class="col-md-3">Активна до:</label>
                        <span class="col-md-9">{{ vm.expiredAt }}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript" src="/url-shorter/public/libs/angularjs-1.4.7/angular.min.js"></script>
    <script type="text/javascript" src="/url-shorter/public/libs/angular-resource-1.4.7/angular-resource.min.js"></script>
    <script type="text/javascript" src="/url-shorter/public/libs/angular-ui-0.14.3/js/ui-bootstrap-tpls-0.14.3.min.js"></script>
    <script type="text/javascript" src="/url-shorter/public/libs/angular-clipboard/angular-clipboard.js"></script>

    <script type="text/javascript" src="/url-shorter/public/js/urlShorter.js"></script>
    <script type="text/javascript" src="/url-shorter/public/js/service/urlShorter.service.js"></script>
    <script type="text/javascript" src="/url-shorter/public/js/controller/urlShorter.controller.js"></script>
</body>
</html>
